* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
}

.main {
    padding: 15px;
}

.title {
    font-size: 25px;
    height: 10px;
    margin-bottom: 50px;
}

.chartBox {
    width: 55vw;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}

.aside {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

#today {
    text-align: right;
    font-size: 20px;
    height: 10px;
    padding: 1%;
}

.aside_quote {
    margin-top: 50px;
}

.aside_news {
    color: black;
    margin-top: 25px;
    text-decoration: none;
}

.aside_news:hover {
    color: brown;
    text-decoration: underline;
}

.aside_text {
    margin-top: -15px;
}

/*aside_checks {
    color: black;
    margin-top: 70px;
}

.aside_checks__first {
    background-color: black;
    padding: 5%;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-right: 15%;
}

.aside_checks__second {
    background-color: black;
    padding: 5%;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.aside_checks__first:hover .aside_checks__second:hover {
    color: brown;
}*/

@media screen and (max-width: 1300px) {
    .container {
        display: block;
    }

    .chartBox {
        width: 90vw;
    }

    .aside {
        margin-left: 2%;
    }
    }